[Unit]
Description=Run SSH Monitor every 2 minutes
Requires=ssh-monitor.service

[Timer]
OnCalendar=*:0/2
Persistent=true

[Install]
WantedBy=timers.target